.main {
  background: #fff;
  padding: 30px;
  margin: 50px auto;
  max-width: 500px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.main h1 {
  font-size: 20px;
  text-align: center;
}

.form {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form input[type="text"] {
  height: 40px;
  padding: 0 20px;
  font-size: 20px;
  border: 1px solid #ccc;
  min-width: 80%;
}

.form button[type="submit"] {
  border: none;
  height: 40px;
  width: 40px;
  background: #f04c64;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;

  /*Animcação de hover*/
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

/*Animação de hover*/
.form button[type="submit"]:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/*Animação de click*/
.form button[type="submit"]:after {
  content: "";
  background: #ff5479;
  display: block;
  position: absolute;
  padding-top: 150%;
  padding-left: 150%;
  opacity: 0;
  transition: all 0.8s
}

.form button[type="submit"]:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.tasks {
  margin-top: 30px;
}

.tasks li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  transition: all 600ms;
}

.tasks li:hover {
  background: #51c5de;
}

.tasks li .edit {
  margin-right: 15px;
  color: #51c5de;
}

.tasks li .delete {
  margin-right: 15px;
  color: #f04c64;
}

.tasks li:hover .edit, .tasks li:hover .delete {
  color: #000;
  transition: all 600ms;
}

.tasks li .edit, .tasks li .delete {
  cursor: pointer;
}

.tasks li span {
  display: flez;
  align-items: center;
}
